<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Terrarium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Terrarium.Properties.Settings>
            <setting name="SerialPortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SerialPortBoude" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="SerialDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SerialPortParity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialStopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SerialHandshake" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialBaudCustome" serializeAs="String">
                <value>74600</value>
            </setting>
        </Terrarium.Properties.Settings>
    </userSettings>
</configuration>
